@font-face {
  font-family: "Halimum";
  src: url("../assets/fonts/halimun.regular.otf");
}
:root {
  --cream: #f2e6b1;
  --pink: #dd6590;
  --black: #000000;
  --heading-font: "Halimum";
  --body-font: "Crafty Girls", cursive;
}
/* Background styles */
body {
  height: 100vh;
  overflow: hidden;

  background-image: url("../assets/images/background/grey\ aesthetic.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.bobo-page {
  width: 100%;
  height: 100%;

  position: relative;
}
.bobo-content {
  width: 100%;
  height: 100%;

  position: relative;
}
/* button styling*/
.home-btn {
  position: absolute;
  bottom: 30px;
  right: 30px;

  z-index: 100;
}
.home-btn img {
  width: 130px;
  display: block;
  transition: all 0.25s ease;
}
.home-btn img:hover {
  transform: scale(1.05);
  filter: drop-shadow(0 0 18px #ffd86b);
}
.home-btn img:active {
  transform: scale(0.95);
}
/* grid notebook page */
.bobo-bg-page {
  width: 68%;
  height: 84%;

  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;

  background-image: url(../assets/images/Louis-page/l-bg.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
/* element styling*/
.bobo-pin {
  position: absolute;
  width: 60px;
  height: 70px;

  top: -25px;
  left: -3px;
}

.bobo-pin2 {
  position: absolute;
  width: 60px;
  height: 70px;

  top: -25px;
  right: -3px;
}
.standing-bobo {
  position: absolute;

  width: 240px;
  height: 420px;
  bottom: 65px;
  left: 120px;

  z-index: 1;
}
.bobo-keychain {
  position: absolute;
  width: 250px;
  height: 250px;

  transform: translateY(-35px);
  right: 230px;
}

/* content inside grid page*/
.bobo-info {
  position: absolute;
  top: 30px;
  left: 75px;

  width: 1140px;
  height: 600px;

  overflow-x: hidden;
  overflow-y: auto;

  padding-right: 15px;

  font-family: var(--body-font);

  /* typography*/
  font-size: 24px;
  line-height: 1.5;
}
/* scrollbar styling*/
.bobo-info::-webkit-scrollbar {
  width: 10px;
}
.bobo-info::-webkit-scrollbar-track {
  background: transparent;
}
.bobo-info::-webkit-scrollbar-thumb {
  background: #ffc5d6;
  border-radius: 20px;
}
.bobo-info::-webkit-scrollbar-thumb:hover {
  background: #ad8f99;
}
/* heading & para*/
.intro,
.about,
.pov {
  margin-bottom: 30px;
}

.intro {
  font-size: 30px;
}
.about h3 {
  color: var(--pink);
  font-size: 27px;
  font-weight: normal;
  margin-bottom: 8px;
  font-family: var(--heading-font);
}
.pov h3 {
  color: var(--pink);
  font-size: 27px;
  font-weight: normal;
  font-family: var(--heading-font);
  margin-bottom: 8px;
}

.pov p {
  margin-bottom: 20px;
  text-align: justify;
}
