@font-face {
  font-family: "Halimum";
  src: url("../assets/fonts/halimun.regular.otf");
}
:root {
  --cream: #f2e6b1;
  --pink: #dd6590;
  --black: #000000;
  --heading-font: "Halimum";
  --body-font: "Crafty Girls", cursive;
}
html,
body {
  height: 100%;
  margin: 0;
  font-family: var(--body-font);
}
/* global styles*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
